# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# IntelliJ project files
.idea/


# Project files
.env
data-dev.sqlite3
data.sqlite3
Pipfile.lock
uploads/*
!uploads/avatars
!uploads/.gitkeep
uploads/avatars/*
!uploads/avatars/.gitkeep
