[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
faker = "*"
coverage = "*"

[packages]
python-dotenv = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"
bootstrap-flask = "*"
flask-login = "*"
pillow = "*"
flask-mail = "*"
flask-moment = "*"
flask-dropzone = "*"
flask-avatars = "*"
flask-debugtoolbar = "*"
flask-whooshee = "*"
