{% extends 'base.jinja2' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from '_macros.jinja2' import photo_card with context %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
    {% include 'user/_header.jinja2' %}
    <div class="row">
        <div class="col-md-12">
            {% if user.public_collections or current_user == user %}
                {% if collects %}
                    {% for collect in collects %}
                        {{ photo_card(collect.collected) }}
                    {% endfor %}
                {% else %}
                    <div class="tip">
                        <h3>没有收藏图片</h3>
                    </div>
                {% endif %}
            {% else %}
                <div class="tip">
                    <h3>当前用户没有公开他的收藏夹</h3>
                </div>
            {% endif %}
        </div>
    </div>
    {% if photos %}
        <div class="page-footer">
            {{ render_pagination(pagination, align='center') }}
        </div>
    {% endif %}
{% endblock %}