<p>你好 {{ user.name }},</p>
<p>这是你的重置密码连接: <br>
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">{{ url_for('auth.reset_password', token=token, _external=True) }}</a>
</p>
<small>(这封邮件由系统自动发送, 请勿回复!)</small>
