{% extends 'base.html' %}
{% from '_macros.html' import photo_card %}

{% block title %}探索{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% for photo in photos %}
                {{ photo_card(photo) }}
            {% endfor %}
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-primary" href="{{ url_for('.explore') }}">
            <span class="oi oi-loop-circular"></span>换一批
        </a>
    </div>
{% endblock %}